// COLORS
$color-primary: #2788e6;
$color-primary-dark: #1478d8;
$color-primary-light: #5cabf7;

$color-blue-light: #c1cdd9;
$color-blue-light-2: #d2dce6;
$color-blue-dark: #6684a0;

$color-yellow: #eab244;

$color-grey-dark: #4e565e;
$color-grey-dark-2: #767676;

$color-grey-dark-3: #2a2a2a;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;