.btn {
  &,
  &:link,
  &:visited {
    font-family: 'Rubik Medium';
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.1rem 2.5rem;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.5rem; 
    transition: all .2s;

    // Change to the <button> element
    border: none;
    cursor: pointer;
    position: relative;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.1) scaleY(1.2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(-.1rem);
      box-shadow: 0 1rem 1rem rgba($color-black, .2);
  }

  &--yellow {
    background-color: $color-yellow;
    color: $color-white;
    &::after {
      background-color: $color-yellow;
    }
  }

  &--blue-2 {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
  
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
}

.btn-outline {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3rem;
      border-radius: 5px;
      transition: all .2s;
      display: inline-block;
      margin-left: 1rem;
      transition: all .2s;
  }

  &:hover,
  &:active {
    background-color: $color-primary;
    color: $color-white;
  }

  &--blue {
    border: 2px solid $color-primary;
    color: $color-primary;
  }
}