.departures {
  
  padding-bottom: 12rem;
  
}

.departures-box {

  padding: 4.5rem;
  background-color: $color-white;
  box-shadow: 0 5px 3rem rgba($color-grey-dark-3, .1);
  border-radius: .5rem;
  position: relative;
  transition: all .3s;
  
  &__right {
    position: absolute;
    top: 2rem;
    left: 2rem;
    float: left;

    font-size: 1.4rem;
    font-family: 'Rubik Medium';
    color: $color-grey-dark-3;

    &--start {
      margin-bottom: 2.2rem;
    }

    &--grey {
     @include circle-dot;
     background-color: $color-blue-light-2;
     margin-right: 1rem;
     position: relative;

     &::after {
       content: "";
       position: absolute;
       top: 2.1rem;
       left: -5px;
       background-color:rgba($color-blue-light-2, .3);
       width: 2rem;
       height: 3px;
       transform: rotate(90deg);
     }
    }

    &--end {
      
    }

    &--blue {
      @include circle-dot;
      background-color: $color-primary;
      margin-right: 1rem;
    }

  }

  &__left {

    position: absolute;
    top: 2rem;
    right: 2rem;
    float: right;
    
    &--title {
      font-size: 1.2rem;
      font-family: 'Rubik Light';
      font-weight: 100;
      color: $color-grey-dark-2;
      margin-bottom: 1.5rem;
    }
    &--price {
      font-size: 2.2rem;
      font-family: 'Rubik Regular';
      color: $color-primary;
    }
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}