.feature-box {
    text-align: center;
    padding: 2rem;
    margin-bottom: 10rem;

  &__icon {
    width: 6rem;
    margin-bottom: 3rem;

    &--1 {
      width: 4rem;
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-family: 'Rubik Regular';
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: $color-blue-light;
    text-transform: uppercase;
  }

  &__desc {
    font-family: 'Rubik Light';
    font-weight: 100;
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    line-height: 1.8;
  }
}