.header-form {
  background-image: url(/assets/img/bg_header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 3rem;
  padding: 2.5rem 0;
  position: relative;

  &__box-form {
    background-color: $color-white;
    padding: 3rem 2rem;
    box-shadow: 0 .5rem 4rem rgba($color-grey-dark-2, .2);
    border-radius: 5px;
    position: relative;
    bottom: 3rem;
    
  }

  &__group {
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: 5px;
    padding: 1.7rem 0;
    border: 1px solid $color-blue-light-2;
  }

  &__icon {
    width: 2rem;
    margin: 0 1.5rem;

    &--1 {
      width: 1.5rem;
      margin: 0 1.5rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: 'Rubik Regular';
    border: none;
    position: relative;
    bottom: 2px;
    color: $color-grey-dark-2;

    &:focus {
      outline: none;
    }
  }

  &__input::placeholder {
    color: $color-blue-light-2;
  }

  &__or {
    display: inline-block;

    color: $color-blue-light-2;
    font-size: 1.4rem;
    text-transform: uppercase;
   
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;    
    line-height: 4.5rem;
    border: 1px solid $color-blue-light-2;
    margin: 0 2.8rem;
    
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: $color-white;
    border-radius:50px;
    position: relative;

    &::after {
      content: "";
      width: 4rem;
      border-bottom: 1px solid $color-blue-light-2;
      transform: rotate(90deg);
      display: block;
      position: absolute;
      top: -2rem;
      left: 0;
    }

    &::before {
      content: "";
      width: 4rem;
      border-bottom: 1px solid $color-blue-light-2;
      transform: rotate(90deg);
      display: block;
      position: absolute;
      bottom: -2rem;
      left: 0;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    bottom: 3px;
  }
}