.user-box {
  
  margin-left:10rem;
  position: relative;

  &__img-box {
    float: left;
  }

  &__img {
    width: 5rem;
    margin-right: 3rem;
  }

  &__text-box {

  }

  &__title {
    
    font-family: 'Rubik Light';
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: .8rem;

    &--blue {
      color: $color-primary;
    }

    &--yellow {
      color: $color-yellow;
    }

  }

  &__desc {
    font-family: 'Rubik Regular';
    font-size: 1.4rem;
    color: $color-blue-light-2;
    text-transform: uppercase;
  }

  &__icon {
    width: 1rem;
    float: right;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
  }

}