@font-face {
  font-family: 'Rubik Light';
  font-style: normal;
  font-weight: normal;
  src: local('Rubik Light'), url('fonts/rubiklight.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Rubik Medium';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/rubikmedium.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Rubik Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/rubikregular.woff') format('woff');
}