.heading-primary {
  font-family: 'Rubik Light';
  font-weight: 100;
  font-size: 4.5rem;
  color: $color-primary;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.heading-secondary {
  font-family: 'Rubik Light';
  font-weight: 100;
  font-size: 4.2rem;
  color: $color-primary;
}
.heading-tertiary {
  font-family: 'Rubik Regular';
  font-size: 1.6rem;
  color: $color-blue-light;
  text-transform: uppercase;
}