*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'Rubik Light';
  font-style: normal;
  font-weight: normal;
  src: local("Rubik Light"), url("fonts/rubiklight.woff") format("woff"); }

@font-face {
  font-family: 'Rubik Medium';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/rubikmedium.woff") format("woff"); }

@font-face {
  font-family: 'Rubik Regular';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/rubikregular.woff") format("woff"); }

.heading-primary {
  font-family: 'Rubik Light';
  font-weight: 100;
  font-size: 4.5rem;
  color: #2788e6;
  margin-bottom: 3rem;
  line-height: 1.2; }

.heading-secondary {
  font-family: 'Rubik Light';
  font-weight: 100;
  font-size: 4.2rem;
  color: #2788e6; }

.heading-tertiary {
  font-family: 'Rubik Regular';
  font-size: 1.6rem;
  color: #c1cdd9;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.btn, .btn:link, .btn:visited {
  font-family: 'Rubik Medium';
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.1rem 2.5rem;
  display: inline-block;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all .2s;
  border: none;
  cursor: pointer;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--yellow {
  background-color: #eab244;
  color: #fff; }
  .btn--yellow::after {
    background-color: #eab244; }

.btn--blue-2 {
  background-color: #2788e6;
  color: #fff; }
  .btn--blue-2::after {
    background-color: #2788e6; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-outline, .btn-outline:link, .btn-outline:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  transition: all .2s;
  display: inline-block;
  margin-left: 1rem;
  transition: all .2s; }

.btn-outline:hover, .btn-outline:active {
  background-color: #2788e6;
  color: #fff; }

.btn-outline--blue {
  border: 2px solid #2788e6;
  color: #2788e6; }

.carpooling-box {
  text-align: center;
  padding: 1.9rem; }
  .carpooling-box__img {
    width: 30rem;
    margin-bottom: 2rem; }
  .carpooling-box__title {
    font-family: 'Rubik Regular';
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #c1cdd9;
    text-transform: uppercase; }
  .carpooling-box__desc {
    font-family: 'Rubik Light';
    font-weight: 100;
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.8; }

.departures {
  padding-bottom: 12rem; }

.departures-box {
  padding: 4.5rem;
  background-color: #fff;
  box-shadow: 0 5px 3rem rgba(42, 42, 42, 0.1);
  border-radius: .5rem;
  position: relative;
  transition: all .3s; }
  .departures-box__right {
    position: absolute;
    top: 2rem;
    left: 2rem;
    float: left;
    font-size: 1.4rem;
    font-family: 'Rubik Medium';
    color: #2a2a2a; }
    .departures-box__right--start {
      margin-bottom: 2.2rem; }
    .departures-box__right--grey {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      background-color: #d2dce6;
      margin-right: 1rem;
      position: relative; }
      .departures-box__right--grey::after {
        content: "";
        position: absolute;
        top: 2.1rem;
        left: -5px;
        background-color: rgba(210, 220, 230, 0.3);
        width: 2rem;
        height: 3px;
        transform: rotate(90deg); }
    .departures-box__right--blue {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      background-color: #2788e6;
      margin-right: 1rem; }
  .departures-box__left {
    position: absolute;
    top: 2rem;
    right: 2rem;
    float: right; }
    .departures-box__left--title {
      font-size: 1.2rem;
      font-family: 'Rubik Light';
      font-weight: 100;
      color: #767676;
      margin-bottom: 1.5rem; }
    .departures-box__left--price {
      font-size: 2.2rem;
      font-family: 'Rubik Regular';
      color: #2788e6; }
  .departures-box:hover {
    transform: translateY(-1rem) scale(1.03); }

.feature-box {
  text-align: center;
  padding: 2rem;
  margin-bottom: 10rem; }
  .feature-box__icon {
    width: 6rem;
    margin-bottom: 3rem; }
    .feature-box__icon--1 {
      width: 4rem;
      margin-bottom: 3rem; }
  .feature-box__title {
    font-family: 'Rubik Regular';
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #c1cdd9;
    text-transform: uppercase; }
  .feature-box__desc {
    font-family: 'Rubik Light';
    font-weight: 100;
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.8; }

.header-form {
  background-image: url(/assets/img/bg_header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 3rem;
  padding: 2.5rem 0;
  position: relative; }
  .header-form__box-form {
    background-color: #fff;
    padding: 3rem 2rem;
    box-shadow: 0 0.5rem 4rem rgba(118, 118, 118, 0.2);
    border-radius: 5px;
    position: relative;
    bottom: 3rem; }
  .header-form__group {
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: 5px;
    padding: 1.7rem 0;
    border: 1px solid #d2dce6; }
  .header-form__icon {
    width: 2rem;
    margin: 0 1.5rem; }
    .header-form__icon--1 {
      width: 1.5rem;
      margin: 0 1.5rem; }
  .header-form__input {
    font-size: 1.5rem;
    font-family: 'Rubik Regular';
    border: none;
    position: relative;
    bottom: 2px;
    color: #767676; }
    .header-form__input:focus {
      outline: none; }
  .header-form__input::placeholder {
    color: #d2dce6; }
  .header-form__or {
    display: inline-block;
    color: #d2dce6;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border: 1px solid #d2dce6;
    margin: 0 2.8rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #fff;
    border-radius: 50px;
    position: relative; }
    .header-form__or::after {
      content: "";
      width: 4rem;
      border-bottom: 1px solid #d2dce6;
      transform: rotate(90deg);
      display: block;
      position: absolute;
      top: -2rem;
      left: 0; }
    .header-form__or::before {
      content: "";
      width: 4rem;
      border-bottom: 1px solid #d2dce6;
      transform: rotate(90deg);
      display: block;
      position: absolute;
      bottom: -2rem;
      left: 0; }
  .header-form__btn {
    display: inline-block;
    position: relative;
    bottom: 3px; }

.user-box {
  margin-left: 10rem;
  position: relative; }
  .user-box__img-box {
    float: left; }
  .user-box__img {
    width: 5rem;
    margin-right: 3rem; }
  .user-box__title {
    font-family: 'Rubik Light';
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: .8rem; }
    .user-box__title--blue {
      color: #2788e6; }
    .user-box__title--yellow {
      color: #eab244; }
  .user-box__desc {
    font-family: 'Rubik Regular';
    font-size: 1.4rem;
    color: #d2dce6;
    text-transform: uppercase; }
  .user-box__icon {
    width: 1rem;
    float: right;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer; }

.footer-box__title {
  font-size: 1.4rem;
  font-family: 'Rubik Regular';
  color: #2788e6;
  margin-bottom: 4rem;
  text-transform: uppercase; }

.footer-box__list {
  list-style: none; }

.footer-box__item {
  margin-bottom: 1.5rem; }

.footer-box__link:link, .footer-box__link:visited {
  font-size: 1.4rem;
  font-family: 'Rubik Light';
  font-weight: 100;
  text-decoration: none;
  color: #767676;
  transition: all .2s; }

.footer-box__link:hover, .footer-box__link:active {
  color: #2788e6; }

.footer-box__img {
  width: 15rem; }

.footer-box__item-icon {
  display: inline-block;
  margin-top: 1rem; }
  .footer-box__item-icon:not(:last-child) {
    margin-right: 2rem; }

.footer-box__icon-img {
  width: 2rem; }

.footer-box__icon-img-fb {
  width: 1rem; }

.footer-box__copyright {
  font-size: 1.4rem;
  font-family: 'Rubik Light';
  font-weight: 100;
  color: #767676;
  background-image: url(/assets/img/bg-footer.png);
  background-position-y: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 3rem 0 5rem 0;
  margin-top: -2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  font-family: 'Rubik Medium';
  padding-top: 5rem; }
  .header__logo-box {
    width: 100%; }
  .header__logo {
    width: 30%;
    margin-left: -5rem;
    padding-top: 1rem; }
  .header__nav {
    font-size: 1.4rem;
    display: inline-block;
    float: right;
    margin-right: -5rem;
    text-transform: uppercase;
    text-align: right; }
  .header__nav-list {
    list-style: none;
    width: 730px; }
  .header__nav-item {
    display: inline-block; }
    .header__nav-item:not(:last-child) {
      margin-right: 4rem; }
  .header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #2a2a2a;
    display: inline-block;
    transition: all .2s; }
  .header__nav-link:hover, .header__nav-link:active {
    color: #2788e6; }
  .header__content-left {
    padding: 6rem 0; }
  .header__paragraph {
    font-family: 'Rubik Light';
    font-weight: 100;
    color: #767676;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.7; }
  .header__content-right--img {
    width: 70rem;
    margin-left: -16rem;
    margin-top: -4rem; }

.section-feature {
  padding: 4rem 0; }

.section-departures {
  background-image: url(/assets/img/bg-depart.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -3rem; }

.section-carpooling {
  margin-bottom: 6rem; }

.section-user {
  padding: 4rem 0;
  border-top: 1px solid #d2dce6;
  border-bottom: 1px solid #d2dce6;
  margin-bottom: 8rem;
  position: relative; }

.user-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-right: 1px solid #d2dce6;
  height: 13.1rem; }
