.section-feature {
  padding: 4rem 0;
}

.section-departures {
  background-image: url(/assets/img/bg-depart.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -3rem;
}

.section-carpooling {
  margin-bottom: 6rem;
}

.section-user {
  padding: 4rem 0;
  border-top: 1px solid $color-blue-light-2;
  border-bottom: 1px solid $color-blue-light-2;
  margin-bottom: 8rem;
  position: relative;
}

.user-line {
  @include absCenter;
  border-right: 1px solid $color-blue-light-2;
  height: 13.1rem;
}