
.footer-box {
  &__title {
    font-size: 1.4rem;
    font-family: 'Rubik Regular';
    color: $color-primary;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 1.5rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      font-family: 'Rubik Light';
      font-weight: 100;
      text-decoration: none;
      color: $color-grey-dark-2;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__img {
    width: 15rem;
  }

  
  &__item-icon {
    display: inline-block;
    margin-top: 1rem;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__icon-img {
    width: 2rem;
  }

  &__icon-img-fb {
    width: 1rem;
  }

  &__copyright {
    font-size: 1.4rem;
    font-family: 'Rubik Light';
    font-weight: 100;
    color: $color-grey-dark-2;
    background-image: url(/assets/img/bg-footer.png);
    background-position-y: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3rem 0 5rem 0;
    margin-top: -2rem;
  }
}