.header {
    font-family: 'Rubik Medium';
    padding-top: 5rem;

  &__logo-box {
    width: 100%;
  }
    
  &__logo {
    width: 30%;
    margin-left: -5rem;
    padding-top: 1rem;
  }

  &__nav {
    font-size: 1.4rem;
    display: inline-block;
    float: right;
    margin-right: -5rem;
    text-transform: uppercase;
    text-align: right;
  }

  &__nav-list {
    list-style: none;
    width: 730px;
  }

  &__nav-item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__nav-link {

    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-grey-dark-3;
      display: inline-block;
      transition: all .2s;
    }
    
    &:hover,
    &:active {
      color: $color-primary;
    }

  }

  &__content {

  }

  &__content-left {
    padding: 6rem 0;
  }

  &__paragraph {
    font-family: 'Rubik Light';
    font-weight: 100;
    color: $color-grey-dark-2;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  &__content-right {
    
    &--img {
      width: 70rem;
      margin-left: -16rem;
      margin-top: -4rem;
    }
  }

}